/*
filename: apply.css
author: Mack F
created: 09/04/2025
description: miscellaneous styles specific to the apply form
*/


/* im not sure if this should be apart of style.css */
input, option, select , legend, label, button {
    font-size: 20px;
}

form button {
    height: 4em;
    background-color: rgb(0, 153, 255);
    color: white;
}

form {
    max-width: 500px; /* make all inputs same width */
    margin: 0 auto; /* center inputs */
    padding: 20px; /* spacing between inputs */
}

form p {
    display: flex; /* all inputs are the same horizontal width */
    flex-direction: column;
}

/* input should be normal and its label bold for good contrasting (and button) */
form label, form button {
    font-weight: bold; 
}

#genderFieldset {
    border-color: rgb(153, 153, 153);
    margin-left: 60px; /* same as p and li in style.css */
    border-radius: 0.5em; /* rounded edges */
    text-align: center;
}